.table-item{
   border-bottom: 2px solid #999;
   padding: 5px;

   span{
      color: #999;
      font-size: 16px;
      font-family: sans-serif;
      display: inline-block;
      width: 40%;
      text-align: left;
   }
}